.headerDropdown {
    width: 300px;
    padding: 8px 0;
    height: auto;
    position: relative;
    .customButton {
        background-color: transparent;
        text-align: left;
        padding: 10px 10px;
        font-size: 1.6rem;
        font-weight: 600;
        display: flex;
        cursor: pointer;
        width: 100%;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
            overflow: hidden;
        }
    }

    .customButton:last-child {
        border-radius: 0 0 9px 9px;
    }

    .menuIcon {
        display: inline-block;
        width: 20px;
        margin-right: 10px;
        font-size: 20px;
    }

    .menuItemContent {
        flex: 1;
    }
}

// header
.header {
    width: 100%;
    display: flex;
    padding: 5px 20px;
    font-size: 1.8rem;
    position: relative;
    justify-content: center;
    align-items: center;
}

.backBtn {
    display: block;
    background-color: transparent;
    padding: 0 10px;
    font-size: 1.8rem;
    position: absolute;
    cursor: pointer;
    left: 20px;
}

.headerTitle {
    font-weight: 600;
}

.btnContent {
    display: flex;
    justify-content: center;
}

.menuBody {
    padding-bottom: 5px;
    max-height: 500px;
    overflow-y: scroll;
}